@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('./reset.css');
@import url('./grid.css');
@import url('./aside.css');

@keyframes sombraProjetada {
    0% {box-shadow: none;}
    100% {box-shadow: 0 8px 18px #ebebeb;}
}

:root {
	--azul-profundo: #01080e;
	--azul-escuro: #041832;
	--azul-medio: #144480;
	--azul-destaque-light: #1875e9;
	--azul-destaque-dark: #3985d8;
	--cinza-escuro: #222222;
	--cinza-medio: #c5c5c5;
	--cinza-claro: #f2f2f2;
	--branco: #ffffff;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', Roboto, Arial, Helvetica, sans-serif;
	background-color: var(--branco);
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: auto;
	font-size: 14px;
	color: var(--cinza-escuro);
	box-sizing: border-box;
	text-align: center;
}

/* % CABEÇALHO */

.cabecalho__container {
	background-color: var(--branco);
	width: 100%;
	padding: 0 25px;
    z-index: 100;

    animation: sombraProjetada .6s ease-in-out 1ms;
    animation-timeline: scroll();

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
}

.logo__item {
	padding: 15px 0px;
	cursor: pointer;
}

.cabecalho__pesquisar__item {
	display: none;
}

.form__pesquisa {
	position: relative;
	flex: 1;
	display: flex;
	justify-content: center;
}

.pesquisar__input {
	padding: 8px;
	border: 2px solid var(--cinza-claro);
	border-radius: 32px 0px 0px 32px;
	font-size: 16px;
}

.pesquisar__input-teclado {
	position: absolute;
	right: 120px;
	top: 30%;
}

.pesquisar__btn {
	background-color: var(--cinza-claro);
	border: 0px;
	border-radius: 0px 32px 32px 0px;
	padding: 8px;
	padding-right: 15px;
	border-left: none;
	cursor: pointer;
}

.cabecalho__audio {
	border: 0px;
    background-color: var(--cinza-claro);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: auto;
    margin-left: 1.5rem;
}

.cabecalho__audio img{
    width: 24px;
    height: 24px;
}

.cabecalho__videos {
	background-image: url(../assets/topbar/video_call.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 20px;
}

.cabecalho__apps {
	background-image: url(../assets/topbar/apps.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 13px 30px 13px 13px;
}

.cabecalho__notificacoes {
	background-image: url(../assets/topbar/notifications.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 13px 30px 13px 13px;
}

.cabecalho__avatar {
	background-image: url(../assets/topbar/Avatar.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 13px 30px 13px 33px;
}

.cabecalho__switch {
	position: relative;
	display: inline-block;
	padding: 13px 30px 13px 13px;
	width: 60px;
	height: 34px;
}

.cabecalho__switch-input {
	opacity: 0;
	width: 0;
	height: 0;
}

.cabecalho__switch-slider {
	position: absolute;
	cursor: pointer;
	top: 5px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--cinza-claro);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
	height: 30px;
	width: 50px;
}

.cabecalho__switch-slider:before {
	position: absolute;
	content: '';
	height: 20px;
	width: 20px;
	left: 5px;
	bottom: 5px;
	background-color: var(--branco);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
}

.cabecalho__switch-input:checked + .cabecalho__switch-slider {
	background-color: var(--azul-destaque-light);
}

.cabecalho__switch-input:focus + .cabecalho__switch-slider {
	box-shadow: 0 0 1px var(--cinza-claro);
}

.cabecalho__switch-input:checked + .cabecalho__switch-slider:before {
	-webkit-transform: translateX(21px);
	-ms-transform: translateX(21px);
	transform: translateX(21px);
}

/* % SECAO SUPERIOR */

.superior__secao__container {
	height: 4rem;
	color: var(--branco);
	font-size: 1rem;
	background-color: var(--branco);
	padding: 0 20px;
	/* transition: transform 0.5s ease-in-out;
    transform: translateX(0); */

	display: flex;
	align-items: center;
	white-space: nowrap;
	overflow: scroll;
	gap: 15px;
}

.superior__secao__container-wrapper {
	position: relative;
}

.superior__item {
	color: var(--cinza-escuro);
	background-color: var(--cinza-claro);
	border-radius: 20px;
	padding: 8px 20px;
	cursor: pointer;
	width: 200px;
	text-transform: capitalize;
}

.superior__item:hover {
	color: var(--branco);
	background-color: var(--azul-destaque-light);
	transition: 0.5s;
}

.superior__slider {
	position: absolute;
	right: 0;
	width: 6%;
	height: 50px;
	background: linear-gradient(to left, var(--branco) 50%, transparent 100%);
	display: none;
}

.superior__slider img {
	margin-left: 50%;
}

/* % SEÇÃO VÍDEOS */

.videos__container {
	color: black;
	padding: 153px 20px 10px 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 0.625rem;
}

.videos__item {
	display: block;
	height: 303px;
	width: 280px;
	flex-grow: 1;
}

iframe {
	border-radius: 10px;
	width: 100%;
	height: 62%;
}

.descricao-video {
	margin-top: 1rem;
	display: grid;
	text-align: start;
	column-gap: 1rem;
	row-gap: 10px;
	grid-template-columns: auto 1fr;
}

.descricao-video .img-canal {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	grid-area: 1 / 1 / 3 / 2;
}

.descricao-video .titulo-video {
	font-weight: 700;
	color: var(--cinza-escuro);
}

.descricao-video .titulo-canal {
	font-size: 14px;
	color: var(--cinza-escuro);
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

@media (min-width: 834px) {
	body {
		height: 100vh;
	}

	/* % ESTILOS DA SECAO SUPERIOR */

	.superior__secao__container {
		border-top: var(--cinza-medio) 1px solid;
		border-bottom: var(--cinza-medio) 1px solid;
		width: auto;
		left: 82px;
	}

	/* %ESTILOS SEÇÃO VÍDEOS */

	.videos__container {
		padding: 1rem;
	}
}

@media (min-width: 1440px) {
	/* % SEÇÃO SUPERIOR */

	.superior__secao__container {
		left: 247px;
	}

}

@media (min-width: 1156px) {
	/* % CABEÇALHO */

	.cabecalho__pesquisar__item {
		display: block;
		transform: translate(-60px);
	}

	.pesquisar__input {
		width: 530px;
	}

	/* % SECAO SUPERIOR */

	.superior__slider {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
